.allDialogs{
    display: flex;
    flex-direction: row;


}
.dialogs__items{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
    margin-left: 100px;
}
.dialog{

}
.dialogs__items .active{
    color: blue;
    font-size: 18px;
}
.allMessages{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
}
.message{

}
.inputDialog{
    margin-top: 50px;
    margin-left: 50px;

}



