.banner img {
    width:100%;
}
.banner {
    justify-content: center;
    width:100%;
}
.avatar img {
    width: 15%;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}