.nav {
    width: 20%;
    /*height: auto;*/
    background-color: #1e1e1e;
    font-size: 37px;
    font-weight: bold;
    /*color: azure;*/
    text-align: center;

}
.nav a{
    text-decoration: none;
    color: azure;
}
.nav a.activeLink{
    color: gold;
}

.profile {
    margin-top: 40px;
}
.settings{
    margin-top: 50px;
}
.friends{
    margin-top: 50px;
    font-size: 56px;
    font-weight: lighter;
    font-family: Serif;
}
.someFriendsAvatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    margin-top: 20px;
}

.firstFriend{
    width: 20%;
    border: 2px solid yellow;
    border-radius: 50%;
    background-color: yellow;

}

.secondFriend{
    width: 20%;
    border: 2px solid yellow;
    border-radius: 50%;
    margin: 0px 20px 0px 20px;
    background-color: yellow;
}
.treeFriend{
    width: 20%;
    border: 2px solid yellow;
    border-radius: 50%;
    background-color: yellow;
}
.friendsName{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 24px;
    font-family: Serif;
    font-weight: 400;
    color: white;
    margin-top: 20px;

}
.secondFriendsName{
    margin: 0px 20px 0px 20px;
}